<app-header></app-header>

<main>
    <ul id="verses">
        <li>
            <app-verse-list 
                [verse]="verses[0]"
                (select)="onGetVerse($event)">
            </app-verse-list>
                
        </li>
        <li>
            <app-verse-list 
                [verse]="verses[1]"
                (select)="onGetVerse($event)">
            </app-verse-list>
        </li>
        <li>
            <app-verse-list 
                [verse]="verses[2]"
                (select)="onGetVerse($event)">
            </app-verse-list>
        </li>
    </ul>

    <app-verse-text [text]="selectedVerse?.text">
    </app-verse-text>
</main>