<app-header></app-header>

<main>
    <ul id="verses">
        @for (verse of verses; track verse.id) {
            <li>
                <app-verse-list 
                    [verse]="verse"
                    (select)="onGetVerse($event)">
                </app-verse-list>
                    
            </li>
        }
    </ul>

    @if (selectedVerse) {
        <app-verse-text [text]="selectedVerse.text" />
    } @else { 
        <p id="fallback"> Select a Verse to Study or Check</p>
    }
   
</main>